<!doctype html>
<html ng-app="App"> 
  <head>
    <meta charset="utf-8">
    <title>AngularJS Email</title>
    <script src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
    <script src="Button.js"></script>
   </head>
   <body>
   	<div ng-controller="myButton">
   		<button ng-click="firstButton()">click me!</button>
   		<button ng-click="secondButton()">click me too!! </button>
   		<h1>You have clicked {{selection}}</h1>
      <h2> hello i am trying to learn git</h2>
   	</div>
   </body>